*{
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #2E3532;
}

.topnav {
    height: 800px;
    width: 100%;
    background-image: url(../assets/sage.jpg);
    background-size:cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 25px; 45px;
}

nav ul li a {
    color:#2E3532;
    text-decoration: none;
    padding: 15px;
    background-color: #7E9181;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 25%;
}
nav ul li a:hover{
    background-color: #94849B;
    color:#C7CEDB;
    font-weight: bold;
    text-transform: capitalize;
}


.header {
    color:#C7CEDB;
    font-size: 60px;
}

#about {
    width 100%
    padding: 100px 0px;
}

#about img {
    height: auto;
    width: 300px;
    float:right;
    padding-right: 0px;
    padding-top: 20px;
}

.profileText {
    color:#C7CEDB;
    font-size: 25px;
}
.rightside {
    float:right;
    width:25%;
    padding-right:25px;
    padding-bottom: 150px;
    padding-top: 20px;
}
.rightside h2{
    text-transform: capitalize;
}
.leftside {
    float:right;
    width:75%;
}