*{
    font-family: sans-serif;
    background-color: #2E3532;
}

.topnav {
    height: 800px;
    width: 100%;
    background-image: url(../assets/sage.jpg);
    background-size:cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;

}
nav ul li {
    display: inline-block;
    padding: 25px; 45px;
    list-style-type:none;
}

nav ul li a {
    color:#2E3532;
    text-decoration: none;
    padding: 15px;
    background-color: #7E9181;
    font-weight: bold;
    border-radius: 25%;
}
nav ul li a:hover{
    background-color: #94849B;
    color:#C7CEDB;
}


.header {
    color:#C7CEDB;
    font-size: 60px;
}

#about {
    width 100%
    padding: 100px 0px;
}

#about img {
    height: auto;
    width: 300px;
    float:right;
    padding-right: 0px;
    padding-top: 40px;
}

.profileText {
    color:#C7CEDB;
    font-size: 25px;
    background-color: #7E9181;
}
.rightside {
    float:right;
    width:35%;
    padding-right:25px;
    padding-bottom: 150px;
    padding-top: 20px;
}
.rightside h2{
    text-transform: capitalize;
}
.leftside {
    float:left;
    width:75%;
}
.leftside h2 {
    color:#C7CEDB;
    background-color: #7E9181;
}
.leftside h5{
    color: #C7CEDB;
    background-color: #7E9181;
}
.container {
    display:flex;
    justify-content: space-evenly;
    background-color:#7E9181;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
    }


.myinfo {
    color:#C7CEDB;
    font-size: 25px;
    display:flex;
    justify-content: center;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
}
.myinfo ul li {
    list-style-type: none;
    display:flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #7E9181;
    border-radius: 25%;
    text-align: center;
}

.myinfo ul li a {
    text-decoration: none;
    color: #C7CEDB;
    background-color: #7E9181;
}
.card{
    background-color: #7E9181;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    nav,.topnav, main {
        flex-direction: column;
    }
    .leftside, .rightside, .card {
        width:100%;
    }
    img {
        display: flex;
        justify-content: center;
    }
}
    